header {
  /* background-color: #1b2127; */
  display: block;
  height: auto;
  align-items: center;
}

h2 {
  font-size: 1.3em;
}

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0%;
  padding: 0%;
}

p {
  margin-left: 2%;
  font-size: 1.1em;
}
/* pendiente */
/* .header-logo {
  padding: 1.5%;
  margin: 1.5%;
} */
a {
  color: black;
  text-decoration: none;
}

figure {
  margin: 0;
}

.logo {
  margin: 0 0 0 1.5%;
  padding: 6px;
}

.hero {
  /* background-color: aqua; */
  padding: 1%;
  margin: 1.3%
}

.circle {
  width: 202px;
  height: 205px;
  /* border: 1px solid rgb(236, 48, 48); */
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}

.photo {
  height: 100%;
  position: relative;
}

.photo-container {
  height: 100%;
  filter: blur(90px);
  transition: all .33s ease;
  width: 100%;
}

.qr-code {
  height: 86%;
  margin-left: 7%;
  margin-top: 8%;  /*  medidas para ajustar la posucion de la imagen qr */
}

.photo  .photo-banner {
  left: 50%;
  transition: all .46s ease;
  position: absolute;
  top: 25%;
  transform: translateX(-50%);
  height: 102%;
}

.specialist {
  height: 100%;
  margin: -3.2em;
}

.photo:hover > .photo-container {
  filter: blur(0);
}

.photo:hover > .photo-banner {
  opacity: 0;
}

.navbar {
  width: 11em;
  height: 100%;
  background-color: #e92626;
  opacity: 0.9;
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1% 0 0 1%;
  transition: right .6s cubic-bezier(1, 0, 0, 1);
  z-index: 2;
}

.change {
  right: 0;
}

.hamburger-menu {
  width: 1.4em;
  height: 1.6em;
  position: fixed;
  top: 0.8em;
  right: 6%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.6s;
}

.change .line-1 {
  transform: rotateZ(-45deg) translate(-8px, 4px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(45deg) translate(-8px, -4px);
}

.nav-list {
  text-align: center;
}

.nav-item {
  list-style: none;
  margin: 1.8em;
  margin-top: 2.5em;
}

.nav-link {
  text-decoration: none;
  font-size: 22px;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.nav-link::after {
  bottom: 0;
  transform-origin: right;
}

.nav-link::before {
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}


.ranking {
  padding: 1.5%;
}

.ranking-huawei {
  text-align: center;
  margin: 1.7%;
  padding: 0.8%;
}

.ranking-stars {
  display: block; /* colocacion */
  margin: auto; /* medidas preeliminares */
  padding: 1.4%;
  text-align: center; /* colocacion */
}

.ranking-text {
  padding: 1%;
  font-size: 1.6em;
  margin: 0.5%;  /* medidas preeliminares */
}

.container-specialist {
  height: 1.4em;
  text-align: center;
  margin: 2%; /* medidas preeliminares */
} 

.contacto {
  text-align: center;
  margin: 2.5%;
}

.contact-number {
  margin: 1.8%;
  font-size: 1.2em;
  letter-spacing: 2pt;
}

.datas {
  margin: 1.5% 3.2%;
  text-align: left;
  display: flex;
  justify-content: space-between;  /* medidas preeliminares */
}

.prado {
  margin: 1.5% 3.2%;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
/* .img-maps {
  padding: 155px;
} */
/* modificacion para obtimizar */
.location {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
.location-link {
  display: inline;
  margin: 0 0 0 38px;
  width: 38px;
  height: 38px;
  background-size: 38px 38px;
}
.location-link.prado {
  background-image: url('../img/posicion.svg'); /* cambiar color */
}

.footer {
  color: white;
  background-color: #ed1c24;
  display: flex;
  justify-content: space-between;
}
.container {
  /* border: 1px solid #a8a8a8; */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.social-link {
  display: inline;
  width: 35px;
  height: 35px;
  margin: 5px 10px;
  background-size: 35px 35px;
}

.social-link.youtube {
  background-image: url("../img/youtube-logo.svg");
}

.social-link.whatsapp {
  background-image: url('../img/whats.svg');
}

.social-link.email {
  background-image: url('../img/mail.svg');
}

@media screen and (max-width: 320px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 767px) {
.header {
  display: block;
  height: 50px;
}

.header,
.logo {
  text-align: left;
}
}